#ChartStatusContainer {
  margin:         10px;
}
#ChartStatusContainer p {
  padding:        5px;
  height:         1em;/*
  border:         1px solid  #bb6;
  background:     #f3f3bc;*/
  font:           14px/1.2 'Arial', 'Tahoma', 'Verdana', 'Helvetica', sans-serif;
}


.ChoiceContainer {
  margin:         10px;
}

#xChoiceContainer {
/*width:          500px;
  margin-left:    240px; */ /* 10 + 210 + 10 + ... + 10 */
/*clear:          left;  */
  padding-left:   160px;    /* Horizontal centering (approximate) */
}

#yChoiceContainer {
  width:          210px;    /* 210 */
/*height:         260px; */ /* 500 - 240 */
/*float:          left;  */
  padding-top:    240px;    /* Vertical centering (approximate) */
}

/* Vertical text
#yChoiceContainer, .yChoiceList {
      -webkit-transform: rotate(-90deg); 
      -moz-transform: rotate(-90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}*/

#PlotContainer {
  width:          500px;
  height:         500px;
  margin:         10px;
}
#ChartContainer {
  width:          520px;
}

#ChartPanel table td {
  vertical-align: top;
}

#ResidPlotContainer {
  width:          500px;
  height:         200px;
  margin:         10px;
}
#ResidChartContainer {
  width:          520px;
}



#LegendContainer {
  margin:         10px;
}
#LegendContainer li {
  font:           12px/1.2 'Arial', 'Tahoma', 'Verdana', 'Helvetica', sans-serif;
  margin-bottom:  6px;
}
#LegendContainer li p {
  margin-bottom:  4p;
}
#LegendContainer input {
  vertical-align: top;
}
#LegendContainer label span {
  border:         1px solid white;
  padding:        0 7px;
  margin:         0 4px;
  -moz-box-shadow: 0 0 0 2px;
  -webkit-box-shadow:     0 0 0 2px;
}
#LegendContainer li div {
  margin-left:    50px;
}



#FittingPanel .x-form-item, #FittingPanel .x-btn {
  margin-bottom:  8px;
}

.strongButton button {
  font-weight:    bold;
}



.ext-el-mask-msg div {
  font-size:      1.1em;
  padding:        8px 12px 8px 32px;
  background-position: 8px center;
}

.x-menu-item-checked .x-menu-item-text {
  font-weight:    bold;
}

.icon-radio-unchecked {
  background-image: url(http://telem.fr/pub/System/FamFamFamSilkCompanion2Icons/radio-unchecked.png) !important;
}
.icon-radio-checked {
  background-image: url(http://telem.fr/pub/System/FamFamFamSilkCompanion2Icons/radio-checked.png) !important;
}
