<!--Author: Joe Redmon-->
<!--all_files.html-->

<html>
<head>
  <title>WRed: All Files</title>
  <script type="text/javascript" src="/media/JavaScript/orbited-0.7/Orbited.js"></script>
  <script type="text/javascript" src="/media/JavaScript/orbited-0.7/protocols/stomp/stomp.js"></script>
  <link rel="stylesheet" type="text/css" href="/media/JavaScript/ext-3.2.1/resources/css/ext-all.css" />
  <script type="text/javascript" src="/media/JavaScript/ext-3.2.1/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="/media/JavaScript/ext-3.2.1/ext-all.js"></script>
  <script type="text/javascript" src="/media/JavaScript/jquery-1.4.2/jquery-1.4.2.js"></script>
  <link rel="stylesheet" type="text/css" href="/media/JavaScript/ext-3.2.1/ux/fileuploadfield/css/fileuploadfield.css"/>
  <script type="text/javascript" src="/media/JavaScript/ext-3.2.1/ux/fileuploadfield/FileUploadField.js"></script>
  <script>
    //set the orbited settings and port
    Orbited.settings.port = 9000;
    Orbited.settings.hostname = "localhost";
    //Orbited.settings.streaming = false;
    TCPSocket = Orbited.TCPSocket;
  </script>
  <script>
    document.domain = document.domain; // I don't know why
    // we need to do this, but we just need to (I didn't write this comment but i'll take his word for it ~joe)
  </script>
  <script type="text/javascript" src="/media/JavaScript/all_files.js"></script>

  <!--Time For Some Music!!! Warning: May Result In Uncontrollable Data Fitting, Uncomment With Extreme Prejudice-->
  <!--embed src="../../../media/bg_music.mp3" type="application/x-mplayer2" autostart="true" playcount="true" loop="true" height="0" width="0"-->


</head>
<body>
  <div id = "uploadfiles"></div>
  <div id = "allfiles"></div>
</body>
</html>
