<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Calculator for Four Circle Neutron Diffractometers</title>

    <!-- ** CSS ** -->
    <!-- base library -->
    <link rel="stylesheet" type="text/css" href="/media/JavaScript/ext-3.2.1/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/media/JavaScript/ext-3.2.1/ux/fileuploadfield/css/fileuploadfield.css" /> 
    
    <!-- ** Javascript ** -->
    <!-- ExtJS library: base/adapter -->
    <script type="text/javascript" src="/media/JavaScript/ext-3.2.1/adapter/ext/ext-base.js"></script>

    <!-- ExtJS library: all widgets -->
    <script type="text/javascript" src="/media/JavaScript/ext-3.2.1/ext-all.js"></script>

    <!-- page specific -->
    <script type="text/javascript" src="/media/JavaScript/ext-3.2.1/ux/fileuploadfield/FileUploadField.js"></script>
    <script type="text/javascript" src="/media/JavaScript/angleCalculator.js"></script>

</head>
<body>

    <div id="data-grid"></div>
    <div id="result-grid"></div>
    
</body>
</html>
