<html>
<head>
  <title>Pipeline</title>

</head>
<body>

   <canvas id = 'myCanvas' width = '500' height = '500'></canvas>

</body>
<script>
var selected = 'plus';
function PlusBox(x, y, width, height){
this.x = x;
this.y = y;
this.width = width;
this.height = height;
this.draw = function(ctx){

  drawPlusBox(ctx, x, y, width, height);
}
}

function MinusBox(x, y, width, height){
this.x = x;
this.y = y;
this.width = width;
this.height = height;
this.draw = function(ctx){

  drawMinusBox(ctx, x, y, width, height);
}
}

function drawPlusBox(ctx,x,y,width,height){
  var radius = Math.max(width/10, height/10);
  ctx.beginPath();
  ctx.strokeStyle = "rgba(255,0,0,1.0)";
  ctx.moveTo(x,y+radius);
  ctx.lineTo(x,y+height-radius);
  ctx.quadraticCurveTo(x,y+height,x+radius,y+height);
  ctx.lineTo(x+width-radius,y+height);
  ctx.quadraticCurveTo(x+width,y+height,x+width,y+height-radius);
  ctx.lineTo(x+width,y+radius);
  ctx.quadraticCurveTo(x+width,y,x+width-radius,y);
  ctx.lineTo(x+radius,y);
  ctx.quadraticCurveTo(x,y,x,y+radius);
  ctx.stroke();
}

var funky;
function drawMinusBox(ctx,x,y,width,height){
  var radius = Math.max(width/10, height/10);
  ctx.strokeStyle = "rgba(0,255,0,1.0)";
  funky = ctx.strokeStyle;
  //alert(funky);
  ctx.beginPath();
  ctx.moveTo(x,y+radius);
  ctx.lineTo(x,y+height-radius);
  ctx.quadraticCurveTo(x,y+height,x+radius,y+height);
  ctx.lineTo(x+width-radius,y+height);
  ctx.quadraticCurveTo(x+width,y+height,x+width,y+height-radius);
  ctx.lineTo(x+width,y+radius);
  ctx.quadraticCurveTo(x+width,y,x+width-radius,y);
  ctx.lineTo(x+radius,y);
  ctx.quadraticCurveTo(x,y,x,y+radius);
  ctx.stroke();
}
var boxes = [];
var canvas = document.getElementById('myCanvas');
var ctx = canvas.getContext('2d');
ctx.globalAlpha = 1.0;
function redraw(e){
  var coords = imgCoords(e);
  ctx.clearRect(0,0, 500,500);

  for (i = 0; i < boxes.length; ++i){
     boxes[i].draw(ctx);
  }
switch(selected){
    case 'plus':
      new PlusBox(coords[0], coords[1], 30,30).draw(ctx);
      break;
    case 'minus':
      new MinusBox(coords[0], coords[1], 30,30).draw(ctx);
      break;
    default:
  }
}

function imgCoords(e) {
  var posx = 0;
  var posy = 0;
  if (!e) var e = window.event;
  if (e.pageX || e.pageY){
    posx = e.pageX;
    posy = e.pageY;
  }
  else if (e.clientX || e.clientY) 	{
    posx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
    posy = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
  }
  //posx -= canvasContainer.getPosition()[0];
  //posy -= canvasContainer.getPosition()[1];
  var toReturn = [posx, posy];
  return toReturn;
}
function addElement(e){
  var coords = imgCoords(e);
  switch(selected){
    case 'plus':
      boxes.push(new PlusBox(coords[0], coords[1], 30,30));
      break;
    case 'minus':
      boxes.push(new MinusBox(coords[0], coords[1], 30,30));
      break;
    default:
  }
}
canvas.addEventListener('mouseover', function(){
canvas.onmousemove = redraw;
}, false);
canvas.addEventListener('mouseout', function(){
canvas.onmousemove = null;
}, false);
canvas.onclick = addElement;
</script>
</html>

