<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>ChartViewer</title>

<link rel="stylesheet" type="text/css"

href="/media/JavaScript/ext-3.2.1/resources/css/ext-all.css" />

<script type="text/javascript" src="/media/JavaScript/ext-3.2.1/adapter/ext/ext-base.js"></script>

<script type="text/javascript" src="/media/JavaScript/ext-3.2.1/ext-all-debug.js"></script>

<script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.js"></script>

<!-- FOR IE <script type="text/javascript" src="./flot/excanvas.js"></script> -->

<script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.flot.js"></script>

<script>
var initComplete = false;
function main(){


    // NOTE: This is an example showing simple state management. During development,
    // it is generally best to disable state management as dynamically-generated ids
    // can change across page loads, leading to unpredictable results.  The developer
    // should ensure that stable state ids are set for stateful components in real apps.    
    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

    var dataArray = [];
    function update(){
        var fieldData = dataArray[0];
        dataArray.splice(0,1);
        var gridColumns = [];
        var storeFields = [];
        for(var i = 0; i < fieldData.length; ++i){
            gridColumns.push({header: fieldData[i], width: 70, sortable: true, dataIndex: fieldData[i]});
            storeFields.push({name: fieldData[i]});
        }

        var store = new Ext.data.ArrayStore({
            fields: storeFields,
        });

        // create the data store
    
        store.loadData(dataArray);
        drawChart(store, 'A4','Detector', 'ChartContainer');
        initComplete = true;
    }
    function cb(data){
        dataArray = data;
        update();
    }
    var jsonpoints = jQuery.getJSON('../files/json/{{ params.md5 }}', cb);
    var commonChartStyle = {"margin": "10px 10px 10px 10px"};
    
    

    var ChartContainer = new Ext.Panel({

        height: 200,
        width: 200,
        style: commonChartStyle,
        id: 'ChartContainer'
    });
    var viewPort = new Ext.Panel({
        title: 'ChartViewer',
        frame: true,
        layout: 'border',
        renderTo: Ext.getBody(),
        height: 400,
        width: 674,
        items: [{
            region: 'center',
            border: true,
            bodyStyle: 'background-color: white; border: 1px solid #99BBE8',
            layout: 'column',
            },
            ChartContainer
        ]
    });
    
    
}

function getData(store, xcol, ycol) {
    var dataResults = [];

    for( var recordIndex = 0; recordIndex < store.getCount(); recordIndex++ ) {
        var record = store.getAt(recordIndex);
        var data = [record.get(xcol), record.get(ycol)];
        dataResults.push(data);
    }
    return dataResults;
}

function drawChart(store, xcol, ycol, chart) {
    var chartInfo = getData(store, xcol, ycol);
    // 3: draw the chart in the container
    $.plot($("#"+chart), [chartInfo]);
}
</script>
<style>
p {
margin:5px;
}
</style>
</head>
<body style="margin: 10px 10px;">
<script>
Ext.onReady( main );
</script>
</body>
</html>
