<!--Author: Joe Redmon-->
<!--view_file.html-->
<html>
<head>
  <title>WRed: View File</title>
  <script type="text/javascript" src="/media/JavaScript/orbited-0.7/Orbited.js"></script>
  <script type="text/javascript" src="/media/JavaScript/orbited-0.7/protocols/stomp/stomp.js"></script>
  <link   type="text/css" rel="stylesheet" href="/media/JavaScript/ext-3.2.1/resources/css/ext-all.css" />
  <script type="text/javascript" src="/media/JavaScript/ext-3.2.1/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="/media/JavaScript/ext-3.2.1/ext-all.js"></script>
  

  <script type="text/javascript" src="/media/JavaScript/jquery-1.4.2/jquery-1.4.2.js"></script>

  <script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.js"></script>
  <!--[if IE]><script type="text/javascript" src="./flot/excanvas.js"></script><![endif]-->
  <script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.flot.js"></script>
  <script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.mousehold.js"></script>
  <script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.flot.navigate.combined.js"></script>
  <script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.flot.crosshair.js"></script>
  <script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.flot.selection.js"></script>
  <script type="text/javascript" src="/media/JavaScript/flot-0.6/jquery.flot.errorbars.js"></script>
  <script type="text/javascript">
    // set the orbited settings and port
    Orbited.settings.port = 9000;
    Orbited.settings.hostname = "localhost";
    //Orbited.settings.streaming = false;
    TCPSocket = Orbited.TCPSocket;
  </script>
  <script type="text/javascript">
    document.domain = document.domain; // I don't know why we need to do this, but we just need to (I didn't write this comment but i'll take his word for it ~joe)
  </script>
  <script type="text/javascript">
    <!--// 
    idNum = {{ id }} //gotta pass in the id number (in the database) to the script through this variable.
    //-->
  </script>

  <link   type="text/css" rel="stylesheet" href="/media/css/WRed-common.css" />
  <script type="text/javascript" src="/media/JavaScript/view_file.js"></script>
</head>
<body>
  <div id="tabs"></div>
</body>
</html>
